* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Kode Mono", monospace;
}

html::-webkit-scrollbar {
  width: 0;
}

.App {
  display: flex;
}

.App .navbar {
  width: 20%;
}

.App .content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.App .content .statistics {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.App .content .top-coins {
  width: 87%;
}
